:root{

    --cor-principal: #000000;
    --cor-secundaria:#0023e7;
    --botao-destaque:#080bcc;







}

.container{
    height: 100vh;


}

*{
    margin: 0;
    padding: 0%;




}




.principal{

    background-image: url("./img/fundo.png");
    background-size: contain;
background-repeat: no-repeat;
}