:root{

    --cor-principal: #000000;
    --cor-secundaria:#0023e7;
    --botao-destaque:#080bcc;







}

.container{
    height: 100vh;


}

*{
    margin: 0;
    padding: 0%;




}




.principal{

    background-image: url("./img/fundo.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;

}
 
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

 .container--botao{
background-color:var(--botao-destataque)
color:var(--corprincipal);
padding: lem;
border-radius:5px
::-webkit-textfield-decoration:transparent;
border:2px solid var( --cor-principal);

}


.container--caixa{
    margin:0 6em;

}